.loginimg
{
   
    margin-top:2px;
text-align: center;
height: 136px;
float: none;
}

.container
{
    text-align: center;
    width: auto;
}
h4{
    color:white;
    text-align: center;
}
@media only screen and (max-width:1920px)
{
    .bodycontainer{
        height:870px ;
     background-color: #00cccc;
     background-repeat: no-repeat;
    }
}
@media only screen and (max-width:1360px)
{
    .bodycontainer{
        height:600px ;
        background-color: #00cccc;
     background-repeat: no-repeat;
    }
}