
<div class="bodycontainer" >
    
    
   
    <section>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="container">
                    <!-- <img src="assets/img/partners41.webp" class="loginimg"/> -->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                    <img class="img-responsive" src="assets/img/logo1.png" class="loginimg"/>
                    <h4>Yuva Kalyan & Prantiya Rakshak Dal</h4>
                      </div>
                      <div class="col-md-1"></div>
                      </div>
               
                       
                       
                    </div>
                  
                </div>
                <div class="col-md-4">  </div>
        </div>
       
      
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card -card-default">
                    <div class="card-header"><h3>Change Password</h3>
                        <button class="btn btn-warning" routerLink="/PRDDepartment/Dashboard">Back</button>
                    </div>
                    <div class="card-body">
                        <form #ChangePassForm="ngForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" [class.has-error]="OldPasswordControl.invalid && OldPasswordControl.touched" [class.has-success]="OldPasswordControl.valid">
                                        <label class="control-label" for="OldPassword">Old Password:</label>
                                        <input type="password" class="form-control" id="OldPassword" name="OldPassword" #OldPasswordControl="ngModel" [(ngModel)]="OldPassword" required (ngModelChange)="OldPassword = $event.toUpperCase()"> 
                                        <span class="help-block" *ngIf="OldPasswordControl.invalid && OldPasswordControl.touched">Please Enter Old Password</span> 
                                    </div>
                                  
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [class.has-error]="NewPasswordControl.invalid && NewPasswordControl.touched" [class.has-success]="NewPasswordControl.valid">
                                        <label class="control-label" for="NewPassword">New Password:</label>
                                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" #NewPasswordControl="ngModel" [(ngModel)]="NewPassword"  required (ngModelChange)="NewPassword = $event.toUpperCase()"> 
                                        <span class="help-block" *ngIf="NewPasswordControl.invalid && NewPasswordControl.touched">Please Enter New Password</span> 
                               
                                        <!-- <span class="help-block" *ngIf="NewPasswordControl.errors?.pattern && NewPasswordControl.touched">Password Is Invalid</span> -->
                                    </div>
                                   
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [class.has-error]="ConfirmPasswordControl.invalid && ConfirmPasswordControl.touched" [class.has-success]="ConfirmPasswordControl.valid">
                                        <label class="control-label" for="ConfirmPassword">Confirm Password:</label>
                                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" #ConfirmPasswordControl="ngModel" [(ngModel)]="ConfirmPassword" required (ngModelChange)="ConfirmPassword = $event.toUpperCase()">  
                                        <span class="help-block" *ngIf="ConfirmPasswordControl.invalid && ConfirmPasswordControl.touched">Please Enter Confirm Password</span>
                                    </div>
                                 
                                </div>
                                <div class="col-md-3">
                                 
                                  <input type="button" class="btn btn-success" value="Change Password" style="margin-top:32px;" (click)="ChangePassword(OldPassword,NewPassword,ConfirmPassword)">  
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-4">
                                    <span style="color: red;">Note: Password length should be at least 8 characters
                                        <br/>
                                        Password length should be at most 32 characters<br/>
                                        Password must have at least one character<br/>
                                        Password must have at least one number<br/>
                                        Password must have at least one special character eg:@,$,& etc.<br/></span>
                                </div>
                            </div>
                        </form>
                   
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>

       
</div>
    
  

