input[type=text]
{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif
}

a{
    color:white;
    font-weight: bold;
}
.modal-content
{
    width:976px
}
.bordersolid
{
    border-style: solid;
}
hr
{
    margin-top: 0rem;
    border-top: 1px solid black;
}
table
{
    width: 100%;
}
th
{
    width: 300px;
}
th,td{
    font-family: 'Times New Roman', Times, serif;
}