

<div class="content-wrapper" style="min-height: 242px; padding-bottom: 20px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
  
          </div><!-- /.col -->
    
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3> Delete Death Jawan </h3>
            </div>
        
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" [class.has-error]="ServiceNoControl.invalid && ServiceNoControl.touched" [class.has-success]="ServiceNoControl.valid">
                            <label class="control-label" for="ServiceNo">सर्विस नं0</label>
                            <input type="text" class="form-control" id="ServiceNo" name="ServiceNo" #ServiceNoControl="ngModel" [(ngModel)]="ServiceNo" required autocomplete="off" (ngModelChange)="ServiceNo=$event.toUpperCase()">
                            <span class="help-block" *ngIf="ServiceNoControl.invalid && ServiceNoControl.touched">कृपया सर्विस नं0 डालिये</span>
                        </div>
                
                    </div>
               
                    <div class="col-md-1">
                        <input type="button" id="btnSearch" name="btnSearch" value="Search" class="btn btn-success" style="margin-top: 32px;" (click)="GetJawanSearch(ServiceNo)">
                    </div>
                </div>
                <div class="row" *ngIf="divJawanDetail">
                  <div class="col-md-12">
              <div class="card card-success">
                  <div class="card-header"><strong>स्वयंसेवक का नाम:{{jawan.empName}}</strong></div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-4">वर्तमान पता</div>:
                          <div class="col-md-4">{{jawan.currentAddress}}</div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">मण्डल</div>:
                          <div class="col-md-4">{{jawan.currentZoneName}}</div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">जिला</div>:
                          <div class="col-md-4">{{jawan.currentDistName}}</div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">थाना</div>:
                          <div class="col-md-4">{{jawan.currentThanaName}}</div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">विकासखंड/कंपनी का नाम </div>:
                          <div class="col-md-4">{{jawan.currentBlockName}}/{{jawan.currentCompName}}</div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">पिनकोड </div>:
                          <div class="col-md-4">{{jawan.currentPincode}}</div>
                      </div>
                     
                                              </div>
              </div>
                  </div>
              </div>
              <div class="row" *ngIf="divPunishProcess">
                <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header"><strong>Deletion Process</strong></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                          <div class="form-group" [class.has-error]="DeathCertificateControl.invalid && DeathCertificateControl.touched" [class.has-success]="DeathCertificateControl.valid">
                            <label class="control-label" for="DeathCertificate">Upload Death Certificate</label>
                            <input type="file" class="form-control"
                                        id="DeathCertificate"
                                        name="DeathCertificate" #DeathCertificateControl="ngModel"
                                       [(ngModel)]="JawanDeath.DeathCertificate" (change)="UploadCertificate($event)" >
                            <span class="help-block" *ngIf="DeathCertificateControl.invalid && DeathCertificateControl.touched">Please Upload Death Certificate</span>
                        </div>

                        </div>
                        <div class="col-md-8">
                            <div class="form-group" [class.has-error]="DeathRemarkControl.invalid && DeathRemarkControl.touched" [class.has-success]="DeathRemarkControl.valid">
                              <label class="control-label" for="DeathRemark">Remarks</label>
                              <textarea class="form-control" id="DeathRemark" name="DeathRemark" #DeathRemarkControl="ngModel" [(ngModel)]="JawanDeath.DeathRemark" required autocomplete="off" (ngModelChange)="JawanDeath.DeathRemark=$event.toUpperCase()"></textarea>
                            
                              <span class="help-block" *ngIf="DeathRemarkControl.invalid && DeathRemarkControl.touched">Please Enter Remark</span>
                          </div>
    
                          </div>
                    </div>
                    <div class="row">
                     
                      <div class="col-md-12">
                        <input type="button" value="Delete" class="btn btn-primary" (click)="JawanDeleteDeath()" [disabled]="JawanDeath.DeathCertificate==null||JawanDeath.DeathRemark==null">
                      </div>
                    
                    </div>
                  
                   
                                            </div>
            </div>
                </div>
            </div>
            </div>
       
        </div>
 
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
            <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

