
<div class="content-wrapper" style="min-height: 242px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
  
          </div><!-- /.col -->
    
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default" style="padding-bottom: 20px;">
            <div class="card-header">
                <h3>Jawan Details</h3>
            </div>
            <div class="col-md-3" style="float:right;padding-left: 30px; padding-top: 10px;">
              <label class="control-label">एप्लीकेशन नं0</label>
              <input class="form-control" type="text" (keyup)='search($event.target.value)'>
              <br/>
            </div>
       
            
        <div class="card-body">
          <div class="card card-primary card-outline  ">
              <div class="card-header card-header-sub">
                  <label> Jawan Details List</label>
              </div>
              <div class="card-body">                          
                  <div class="row">
                      <div class="col-md-12 table-responsive">
                          <table   
                          datatable 
                          class="table table-striped table-bordered nowrap row-border hover"  
                          [dtOptions]="dtOptions"
                          [dtTrigger]="dtTrigger"                          
                          >
                         <thead>
                             <tr>
                              <th>क्रम संख्या</th>
                             
                              <th>कार्यवाही</th>
                              <th>एप्लीकेशन नं0</th>
                              <th>स्वयंसेवक का नाम</th>
                              <th>पिता का नाम</th>
                              <th>माता का नाम</th>
                              <th>जन्मतिथि</th>
                              <th>लिंग</th>
                              <th>श्रेणी</th>
                              <th>लम्बाई(सेमी0)</th>
                              <th>सीना(सेमी0)</th>
                      
                              <th>शिक्षा</th>
                              <th>विशेष योग्यता</th>
                              <th>पोस्ट</th>
                              <th>आधार नं0</th>
                              <th>पैन नं0</th>
                             
                             </tr>
                         </thead>
                         <tbody>
                          <tr *ngFor="let jawan of Jawanlist;let i=index">
                            <td>{{i+1}}</td>
                            <td>
                              <a class="btn btn-warning btn-xs" (click)="getJawanByAppNo(jawan.regNo)"><i class="fa fa-edit"></i></a>&nbsp;
                              <a class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="GetBioData(jawan.empId)"><i class="fa fa-file-archive-o" style="color:white"></i></a>&nbsp;
                              <a class="btn btn-danger btn-xs" (click)="DeleteJawanDetails(jawan.empId)"><i class="fa fa-trash" style="color:white"></i></a>&nbsp;
                            </td>
                            <td>{{jawan.regNo}}</td>
                            <td>{{jawan.empName}}</td>
                            <td>{{jawan.fatherName}}</td>
                            <td>{{jawan.motherName}}</td>
                            <td>{{jawan.empDob}}</td>
                            <td>{{jawan.empGender}}</td>
                            <td>{{jawan.empCaste}}</td>
                            <td>{{jawan.height}}</td>
                            <td>{{jawan.chest}}</td>
                            <td>{{jawan.empEdu}}</td>
                            <td>{{jawan.empSplSkill}}</td>
                            <td>{{jawan.desgnName}}</td>
                            <td>{{jawan.aadharNo}}</td>
                            <td>{{jawan.panNo}}</td>
                               </tr>  
                         </tbody>
                         </table>
                        </div>
                  </div> 
              </div>
          </div>
      </div>
        </div>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" *ngIf="Biodatadiv">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              
                  <app-biodata [data]="data" id="print-section"></app-biodata>
                  <div class=row>
                      <div class="col-md-12">
                        <button class="btn btn-primary" style="float:right;"  [useExistingCss]="true" printSectionId="print-section" ngxPrint>Print Biodata</button>
                      
                      </div>
                  </div>
           
            </div>
          </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
            <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

