
<style>
    @media print and (min-width: 768px)
    {
table,th,td {
    border:1px solid black;
};
table{
    border-collapse:collapse;
}
.row
{
    margin-left: 400px;
}
.col-md-8, .bordersolid
{
    border-style: solid;
}
} 
</style>
<div class="content-wrapper" style="min-height: 242px; padding-bottom: 20px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
  
          </div><!-- /.col -->
    
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3>Registered Jawan</h3>
            </div>
        
            <div class="card-body" *ngIf="MRoleId==1">
           
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="CurrentZoneId">मण्डल :</label>
                            <select class="form-control" id="CurrentZoneId" name="CurrentZoneId" #CurrentZoneIdControl="ngModel" [(ngModel)]="empcontact.CurrentZoneId" required (change)="getdistrict(empcontact.CurrentZoneId,'')">
                                <option value="--Select--">--Select--</option>
                                <option [value]="zone.zoneId" *ngFor="let zone of currentZonelist">{{zone.zoneName}}</option>
                            </select>
       
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="CurrentDistId">जिला :</label>
                            <select class="form-control" id="CurrentDistId" name="CurrentDistId" #CurrentDistIdControl="ngModel" [(ngModel)]="empcontact.CurrentDistId" (click)="getBlock(empcontact.CurrentDistId);getCompany(empcontact.CurrentDistId,'')">
                                <option value="--Select--">--Select--</option>
                                <option [value]="district.distId" *ngFor="let district of currentdistlist">{{district.distName}}</option>
                            </select>
    
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">वर्त्तमान क्षेत्र :</label>
                            <div class="form-group clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" [(ngModel)]="empcontact.residanceTypeCurrent" value="Urban" id="rbnCity"  (click)="ClickUrbanRuralCurrent()">
                                
                                    <label for="rbnCity">
                                        शहरी
                                    </label>
                                  </div>
                                  <div class="icheck-primary d-inline ml-2">
                                    <input type="radio" [(ngModel)]="empcontact.residanceTypeCurrent" id="rbnVillage" value="Rural" (click)="ClickUrbanRuralCurrent()"
                                   >
                                    <label for="rbnVillage">
                                        ग्रामीण
                                    </label>
                                  </div>
                            </div>
                        
                        </div>
                    
                    </div>
                    <div class="col-md-3" *ngIf="empcontact.residanceTypeCurrent=='Rural'">
                        <div class="form-group" >
                                
                          <label class="control-label" for="CurrentBlockId">कंपनी का नाम/विकास खंड  :</label>
                            <select class="form-control" id="CurrentBlockId" name="CurrentBlockId" #CurrentBlockIdControl="ngModel" [(ngModel)]="empcontact.CurrentBlockId" (change)="getCompany(empcontact.CurrentDistId,empcontact.CurrentBlockId)">
                                <option value="--Select--">--Select--</option>
                                
                                <option [value]="block.blockId" *ngFor="let block of blocklst">{{block.blockName}}</option>
                            </select>
                         
                            </div>
                      
                    </div>
                    <div class="col-md-3"  *ngIf="empcontact.residanceTypeCurrent=='Urban'">
                        <div class="form-group">
    
                          <label class="control-label" for="CurrentBlockId">कंपनी का नाम/विकास खंड  :</label>
                          
                            <select class="form-control" id="CurrentCompanyId" name="CurrentCompanyId" #CurrentCompanyIdControl="ngModel" [(ngModel)]="empcontact.CurrentCompanyId" required >
                                <option value="--Select--">--Select--</option>
                                <option [value]="company.compId" *ngFor="let company of companylst">{{company.compName}}</option>
                            </select>
                            </div>
                    </div>
                    <div class="col-md-3">
    <div class="form-group">
        <label class="control-label">सर्विस नं0 :</label>
        <input type="text" class="form-control" [(ngModel)]="ServiceNo" (ngModelChange)="ServiceNo = $event.toUpperCase()">
    </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">जवान का प्रकार :</label>
                            <div class="form-group clearfix">
                                <div class="d-inline icheck-primary">
                                    <input type="radio" id="Old" value="Old" [(ngModel)]="employee.Status">
                                    &nbsp;<label for="Old">पुराना जवान</label>
                                </div>
                               
                                <div class="d-inline icheck-primary">
                                    &nbsp;<input type="radio"  id="New" value="New" [(ngModel)]="employee.Status">
                                    &nbsp;<label for="New">नया जवान</label>

                                </div>
                            </div>
                            
                        </div>
                        <!-- <div class="form-group">
                        <label class="control-label">gfdgfgdfgdf</label>
                       
                        <input type="radio"  value="Old" [(ngModel)]="employee.Status">&nbsp;पुराना जवान&nbsp;<input type="radio" value="New" [(ngModel)]="employee.Status">&nbsp;नया जवान
                    </div> -->
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                           <label class="control-label">लिंग:</label>
                          <select id="EmpGender" name="EmpGender" class="form-control" [(ngModel)]=employee.EmpGender>
                           <option value="null">--Select--</option>
                           <option value="MALE">MALE</option>
                           <option value="FEMALE">FEMALE</option>
                          </select>

                       </div>
                    </div>
                    </div>
                    <div class="row">
                  
                        <div class="col-md-3">
                            <div class="form-group">
                               <label class="control-label">विशेष योग्यता :</label>
                             
                               <select id="EmpSplSkill" name="EmpSplSkill" class="form-control" [(ngModel)]="employee.EmpSplSkill">
                                <option value="null">--Select--</option>
                                <option value="COMPUTOR OPERATOR">COMPUTOR OPERATOR</option>
                                <option value="DRIVER">DRIVER</option>
                                <option value="OTHER">OTHER</option>
                             
                            </select>
                            </div> 
                       </div>
                       <div class="col-md-3">
                        <div class="form-group">
                           <label class="control-label">श्रेणी :</label>
                         
                           <select id="EmpCaste" name="EmpCaste" class="form-control" [(ngModel)]="employee.EmpCaste">
                            <option value="null">--Select--</option>
                            <option value="GENERAL">GENERAL</option>
                            <option value="OBC">OBC</option>
                            <option value="SC">SC</option>
                            <option value="ST">ST</option>
                         
                        </select>
                        </div> 
                   </div>
                    </div>
               
                    <div class="row">
                        <div class="col-md-3">  </div>
                        <div class="col-md-3">  </div>
                        <div class="col-md-3">  </div>
                        <div class="col-md-3">
                            <div class="form-group" >
                                <input type="submit" value="View Report" class="btn btn-success" style="border-radius:24px;width:100%;" (click)="getJawan(empcontact.CurrentZoneId,empcontact.CurrentDistId,empcontact.CurrentBlockId,empcontact.CurrentCompanyId,ServiceNo,employee.Status,employee.EmpGender,employee.EmpSplSkill,employee.EmpCaste,empcontact.residanceTypeCurrent)">
                        </div>
                        </div>
                      </div>
                  <br/>
                  <!-- <table class="table table-responsive table-bordered table-striped">
                    <thead>
                        <th>क्रम संख्या</th>
                      
                        <th>मण्डल का नाम</th>
                        <th>जनपद का नाम</th>
                        <th>विकास खंड/ कम्पनी का नाम</th>
                        <th>स्वयंसेवक का नाम</th>
                        <th>पिता का नाम</th>
                        <th>पता </th>
                        <th>थाना </th>
                        <th>शैक्षिक योग्यता </th>
                        <th>विशेष योग्यता</th>
                        <th>जन्मतिथि</th>
                        <th>श्रेणी</th>
                        <th>लम्बाई(सेमी0)</th>
                        <th>सीना(सेमी0)</th>
                        <th>आवंटित कोड संख्या/सर्विस नं0</th>
                        <th>पुराना सर्विस नं0</th>
                        <th>नॉमिनल रोल रजिस्टर की क्रम संख्या: </th>
                        <th>सर्विस कोड</th>  
                    </thead>
                    <tbody>
                        <tr *ngFor="let jawan of Jawanlist | paginate:{id:'list',
                        itemsPerPage:10,
                        currentPage:page,
                        totalItems:totalReords
                        
                        
                        };let i=index">
                        <td>{{i+1}}</td>
                       
                        <td>{{jawan.zone}}</td>
                        <td>{{jawan.dist}}</td>
                        <td>{{jawan.company}}</td>
                        <td>{{jawan.empName}}</td>
                        <td>{{jawan.fatherName}}</td>
                        <td>{{jawan.currAddress}}</td>
                        <td>{{jawan.thana}}</td>
                        <td>{{jawan.empEdu}}</td>
                        <td>{{jawan.empSplSkill}}</td>
                        <td>{{jawan.empDob}}</td>
                        <td>{{jawan.empCaste}}</td>
                        <td>{{jawan.height}}</td>
                        <td>{{jawan.chest}}</td>
                        <td>{{jawan.empOfficialId}}</td>
                        <td>{{jawan.oldServiceNo}}</td>
                        <td>{{jawan.nominalRegNo}}</td>
                        <td>{{jawan.serialCode}}</td>
                    </tr>
                    </tbody>
                </table> -->
                <!-- <pagination-controls id="list" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls> -->
          
              
            </div>
            <div class="card-body" *ngIf="MRoleId==2">
             
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="CurrentZoneId">मण्डल :</label>
                            <select class="form-control" id="CurrentZoneId" name="CurrentZoneId" #CurrentZoneIdControl="ngModel" [(ngModel)]="empcontact.CurrentZoneId" required (change)="getdistrict(empcontact.CurrentZoneId,'')" disabled>
                                <option value="--Select--">--Select--</option>
                                <option [value]="zone.zoneId" *ngFor="let zone of currentZonelist">{{zone.zoneName}}</option>
                            </select>
       
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="CurrentDistId">जिला :</label>
                            <select class="form-control" id="CurrentDistId" name="CurrentDistId" #CurrentDistIdControl="ngModel" [(ngModel)]="empcontact.CurrentDistId" (click)="getBlock(empcontact.CurrentDistId);getCompany(empcontact.CurrentDistId,'')">
                                <option value="--Select--">--Select--</option>
                                <option [value]="district.distId" *ngFor="let district of currentdistlist">{{district.distName}}</option>
                            </select>
    
                        </div>
                    </div>
                  
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">वर्त्तमान क्षेत्र :</label>
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" [(ngModel)]="empcontact.residanceTypeCurrent" value="Urban" id="rbnCity"  (click)="ClickUrbanRuralCurrent()">
                                    
                                        <label for="rbnCity">
                                            शहरी
                                        </label>
                                      </div>
                                      <div class="icheck-primary d-inline ml-2">
                                        <input type="radio" [(ngModel)]="empcontact.residanceTypeCurrent" id="rbnVillage" value="Rural" (click)="ClickUrbanRuralCurrent()"
                                       >
                                        <label for="rbnVillage">
                                            ग्रामीण
                                        </label>
                                      </div>
                                </div>
                            
                            </div>
                        
                        </div>
                    
                        <div class="col-md-3" *ngIf="empcontact.residanceTypeCurrent=='Rural'">
                            <div class="form-group" >
                                    
                              <label class="control-label" for="CurrentBlockId">कंपनी का नाम/विकास खंड  :</label>
                                <select class="form-control" id="CurrentBlockId" name="CurrentBlockId" #CurrentBlockIdControl="ngModel" [(ngModel)]="empcontact.CurrentBlockId" (change)="getCompany(empcontact.CurrentDistId,empcontact.CurrentBlockId)">
                                    <option value="--Select--">--Select--</option>
                                    
                                    <option [value]="block.blockId" *ngFor="let block of blocklst">{{block.blockName}}</option>
                                </select>
                             
                                </div>
                          
                        </div>
                        <div class="col-md-3"  *ngIf="empcontact.residanceTypeCurrent=='Urban'">
                            <div class="form-group">
        
                              <label class="control-label" for="CurrentBlockId">कंपनी का नाम/विकास खंड  :</label>
                              
                                <select class="form-control" id="CurrentCompanyId" name="CurrentCompanyId" #CurrentCompanyIdControl="ngModel" [(ngModel)]="empcontact.CurrentCompanyId" required >
                                    <option value="--Select--">--Select--</option>
                                    <option [value]="company.compId" *ngFor="let company of companylst">{{company.compName}}</option>
                                </select>
                                </div>
                        </div>
                    <div class="col-md-3">
    <div class="form-group">
        <label class="control-label">सर्विस नं0 :</label>
        <input type="text" class="form-control" [(ngModel)]="ServiceNo" (ngModelChange)="ServiceNo = $event.toUpperCase()">
    </div>
                    </div>
                    <div class="col-md-3" >
                        <div class="form-group">
                            <label class="control-label">जवान का प्रकार :</label>
                            <div class="form-group clearfix">
                                <div class="d-inline icheck-primary">
                                    <input type="radio" id="Old" value="Old" [(ngModel)]="employee.Status">
                                    &nbsp;<label for="Old">पुराना जवान</label>
                                </div>
                               
                                <div class="d-inline icheck-primary">
                                    &nbsp;<input type="radio"  id="New" value="New" [(ngModel)]="employee.Status">
                                    &nbsp;<label for="New">नया जवान</label>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                           <label class="control-label">लिंग:</label>
                          <select id="EmpGender" name="EmpGender" class="form-control" [(ngModel)]=employee.EmpGender>
                           <option value="null">--Select--</option>
                           <option value="MALE">MALE</option>
                           <option value="FEMALE">FEMALE</option>
                          </select>

                       </div>
                    </div>
                    </div>
                    <div class="row">
                  
                        <div class="col-md-3">
                            <div class="form-group">
                               <label class="control-label">विशेष योग्यता :</label>
                             
                               <select id="EmpSplSkill" name="EmpSplSkill" class="form-control" [(ngModel)]="employee.EmpSplSkill">
                                <option value="null">--Select--</option>
                                <option value="COMPUTOR OPERATOR">COMPUTOR OPERATOR</option>
                                <option value="DRIVER">DRIVER</option>
                                <option value="OTHER">OTHER</option>
                             
                            </select>
                            </div> 
                       </div>
                       <div class="col-md-3">
                        <div class="form-group">
                           <label class="control-label">श्रेणी :</label>
                         
                           <select id="EmpCaste" name="EmpCaste" class="form-control" [(ngModel)]="employee.EmpCaste">
                            <option value="null">--Select--</option>
                            <option value="GENERAL">GENERAL</option>
                            <option value="OBC">OBC</option>
                            <option value="SC">SC</option>
                            <option value="ST">ST</option>
                         
                        </select>
                        </div> 
                   </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-md-3">  </div>
                        <div class="col-md-3">  </div>
                        <div class="col-md-3">  </div>
                        <div class="col-md-3">
                            <div class="form-group" >
                                <input type="submit" value="View Report" class="btn btn-success" style="border-radius:24px;width:100%;" (click)="getJawan(empcontact.CurrentZoneId,empcontact.CurrentDistId,empcontact.CurrentBlockId,empcontact.CurrentCompanyId,ServiceNo,employee.Status,employee.EmpGender,employee.EmpSplSkill,employee.EmpCaste,empcontact.residanceTypeCurrent)">
                        </div>
                        </div>
                      </div>
                  <br/>
                  <!-- <table class="table table-responsive table-bordered table-striped">
                    <thead>
                        <th>क्रम संख्या</th>
                      
                        <th>मण्डल का नाम</th>
                        <th>जनपद का नाम</th>
                        <th>विकास खंड/ कम्पनी का नाम</th>
                        <th>स्वयंसेवक का नाम</th>
                        <th>पिता का नाम</th>
                        <th>पता </th>
                        <th>थाना </th>
                        <th>शैक्षिक योग्यता </th>
                        <th>विशेष योग्यता</th>
                        <th>जन्मतिथि</th>
                        <th>श्रेणी</th>
                        <th>लम्बाई(सेमी0)</th>
                        <th>सीना(सेमी0)</th>
                        <th>आवंटित कोड संख्या/सर्विस नं0</th>
                        <th>पुराना सर्विस नं0</th>
                        <th>नॉमिनल रोल रजिस्टर की क्रम संख्या: </th>
                        <th>सर्विस कोड</th>  
                    </thead>
                    <tbody>
                        <tr *ngFor="let jawan of Jawanlist | paginate:{id:'list',
                        itemsPerPage:10,
                        currentPage:page,
                        totalItems:totalReords
                        
                        
                        };let i=index">
                        <td>{{i+1}}</td>
                       
                        <td>{{jawan.zone}}</td>
                        <td>{{jawan.dist}}</td>
                        <td>{{jawan.company}}</td>
                        <td>{{jawan.empName}}</td>
                        <td>{{jawan.fatherName}}</td>
                        <td>{{jawan.currAddress}}</td>
                        <td>{{jawan.thana}}</td>
                        <td>{{jawan.empEdu}}</td>
                        <td>{{jawan.empSplSkill}}</td>
                        <td>{{jawan.empDob}}</td>
                        <td>{{jawan.empCaste}}</td>
                        <td>{{jawan.height}}</td>
                        <td>{{jawan.chest}}</td>
                        <td>{{jawan.empOfficialId}}</td>
                        <td>{{jawan.oldServiceNo}}</td>
                        <td>{{jawan.nominalRegNo}}</td>
                        <td>{{jawan.serialCode}}</td>
                    </tr>
                    </tbody>
                </table> -->
                <!-- <pagination-controls id="list" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls> -->
          
                   
                
            </div>
            <div class="card-body" *ngIf="MRoleId==3">
      
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="CurrentZoneId">मण्डल :</label>
                            <select class="form-control" id="CurrentZoneId" name="CurrentZoneId" #CurrentZoneIdControl="ngModel" [(ngModel)]="empcontact.CurrentZoneId" required (change)="getdistrict(empcontact.CurrentZoneId,'')" disabled>
                                <option value="--Select--">--Select--</option>
                                <option [value]="zone.zoneId" *ngFor="let zone of currentZonelist">{{zone.zoneName}}</option>
                            </select>
       
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="CurrentDistId">जिला :</label>
                            <select class="form-control" id="CurrentDistId" name="CurrentDistId" #CurrentDistIdControl="ngModel" [(ngModel)]="empcontact.CurrentDistId" (click)="getBlock(empcontact.CurrentDistId);getCompany(empcontact.CurrentDistId,'')" disabled>
                                <option value="--Select--">--Select--</option>
                                <option [value]="district.distId" *ngFor="let district of currentdistlist">{{district.distName}}</option>
                            </select>
    
                        </div>
                    </div>
                    <div class="col-md-3">
                      
                            <div class="form-group">
                                <label class="control-label">वर्त्तमान क्षेत्र :</label>
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" [(ngModel)]="empcontact.residanceTypeCurrent" value="Urban" id="rbnCity"  (click)="ClickUrbanRuralCurrent()">
                                    
                                        <label for="rbnCity">
                                            शहरी
                                        </label>
                                      </div>
                                      <div class="icheck-primary d-inline ml-2">
                                        <input type="radio" [(ngModel)]="empcontact.residanceTypeCurrent" id="rbnVillage" value="Rural" (click)="ClickUrbanRuralCurrent()"
                                       >
                                        <label for="rbnVillage">
                                            ग्रामीण
                                        </label>
                                      </div>
                                </div>
                            
                            </div>
                        
                        
                    </div>
                    <div class="col-md-3" *ngIf="empcontact.residanceTypeCurrent=='Rural'">
                        <div class="form-group" >
                                
                          <label class="control-label" for="CurrentBlockId">कंपनी का नाम/विकास खंड  :</label>
                            <select class="form-control" id="CurrentBlockId" name="CurrentBlockId" #CurrentBlockIdControl="ngModel" [(ngModel)]="empcontact.CurrentBlockId" (change)="getCompany(empcontact.CurrentDistId,empcontact.CurrentBlockId)">
                                <option value="--Select--">--Select--</option>
                                
                                <option [value]="block.blockId" *ngFor="let block of blocklst">{{block.blockName}}</option>
                            </select>
                         
                            </div>
                      
                    </div>
                    <div class="col-md-3"  *ngIf="empcontact.residanceTypeCurrent=='Urban'">
                        <div class="form-group">
    
                          <label class="control-label" for="CurrentBlockId">कंपनी का नाम/विकास खंड  :</label>
                          
                            <select class="form-control" id="CurrentCompanyId" name="CurrentCompanyId" #CurrentCompanyIdControl="ngModel" [(ngModel)]="empcontact.CurrentCompanyId" required >
                                <option value="--Select--">--Select--</option>
                                <option [value]="company.compId" *ngFor="let company of companylst">{{company.compName}}</option>
                            </select>
                            </div>
                    </div>
                    <div class="col-md-3">
    <div class="form-group">
        <label class="control-label">सर्विस नं0 :</label>
        <input type="text" class="form-control" [(ngModel)]="ServiceNo" (ngModelChange)="ServiceNo = $event.toUpperCase()">
    </div>
                    </div>
                    <div class="col-md-3" >
                        <div class="form-group">
                            <label class="control-label">जवान का प्रकार :</label>
                            <div class="form-group clearfix">
                                <div class="d-inline icheck-primary">
                                    <input type="radio" id="Old" value="Old" [(ngModel)]="employee.Status">
                                    &nbsp;<label for="Old">पुराना जवान</label>
                                </div>
                               
                                <div class="d-inline icheck-primary">
                                    &nbsp;<input type="radio"  id="New" value="New" [(ngModel)]="employee.Status">
                                    &nbsp;<label for="New">नया जवान</label>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                           <label class="control-label">लिंग:</label>
                          <select id="EmpGender" name="EmpGender" class="form-control" [(ngModel)]=employee.EmpGender>
                           <option value="null">--Select--</option>
                           <option value="MALE">MALE</option>
                           <option value="FEMALE">FEMALE</option>
                          </select>

                       </div>
                    </div>
                    </div>
                    <div class="row">
              
                        <div class="col-md-3">
                            <div class="form-group">
                               <label class="control-label">विशेष योग्यता :</label>
                             
                               <select id="EmpSplSkill" name="EmpSplSkill" class="form-control" [(ngModel)]="employee.EmpSplSkill">
                                <option value="null">--Select--</option>
                                <option value="COMPUTOR OPERATOR">COMPUTOR OPERATOR</option>
                                <option value="DRIVER">DRIVER</option>
                                <option value="OTHER">OTHER</option>
                             
                            </select>
                            </div> 
                       </div>
                       <div class="col-md-3">
                        <div class="form-group">
                           <label class="control-label">श्रेणी :</label>
                         
                           <select id="EmpCaste" name="EmpCaste" class="form-control" [(ngModel)]="employee.EmpCaste">
                            <option value="null">--Select--</option>
                            <option value="GENERAL">GENERAL</option>
                            <option value="OBC">OBC</option>
                            <option value="SC">SC</option>
                            <option value="ST">ST</option>
                         
                        </select>
                        </div> 
                   </div>
                    </div>
                  
                  <div class="row">
                    <div class="col-md-3">  </div>
                    <div class="col-md-3">  </div>
                    <div class="col-md-3">  </div>
                    <div class="col-md-3">
                        <div class="form-group" >
                        <input type="submit" value="View Report" class="btn btn-success" style="border-radius:24px;width:100%;" (click)="getJawan(empcontact.CurrentZoneId,empcontact.CurrentDistId,empcontact.CurrentBlockId,empcontact.CurrentCompanyId,ServiceNo,employee.Status,employee.EmpGender,employee.EmpSplSkill,employee.EmpCaste,empcontact.residanceTypeCurrent)">
                    </div>
                    </div>
                  </div>
                  <br/>
                  <!-- <table class="table table-responsive table-bordered table-striped">
                    <thead>
                        <th>क्रम संख्या</th>
                        <th>मण्डल का नाम</th>
                        <th>जनपद का नाम</th>
                        <th>विकास खंड/ कम्पनी का नाम</th>
                        <th>स्वयंसेवक का नाम</th>
                        <th>पिता का नाम</th>
                        <th>पता </th>
                        <th>थाना </th>
                        <th>शैक्षिक योग्यता </th>
                        <th>विशेष योग्यता</th>
                        <th>जन्मतिथि</th>
                        <th>श्रेणी</th>
                        <th>लम्बाई(सेमी0)</th>
                        <th>सीना(सेमी0)</th>
                        <th>आवंटित कोड संख्या/सर्विस नं0</th>
                        <th>पुराना सर्विस नं0</th>
                        <th>नॉमिनल रोल रजिस्टर की क्रम संख्या: </th>
                        <th>सर्विस कोड</th>  
                    </thead>
                    <tbody>
                        <tr *ngFor="let jawan of Jawanlist | paginate:{id:'list',
                        itemsPerPage:10,
                        currentPage:page,
                        totalItems:totalReords
                        
                        
                        };let i=index">
                        <td>{{i+1}}</td>
                       
                        <td>{{jawan.zone}}</td>
                        <td>{{jawan.dist}}</td>
                        <td>{{jawan.company}}</td>
                        <td>{{jawan.empName}}</td>
                        <td>{{jawan.fatherName}}</td>
                        <td>{{jawan.currAddress}}</td>
                        <td>{{jawan.thana}}</td>
                        <td>{{jawan.empEdu}}</td>
                        <td>{{jawan.empSplSkill}}</td>
                        <td>{{jawan.empDob}}</td>
                        <td>{{jawan.empCaste}}</td>
                        <td>{{jawan.height}}</td>
                        <td>{{jawan.chest}}</td>
                        <td>{{jawan.empOfficialId}}</td>
                        <td>{{jawan.oldServiceNo}}</td>
                        <td>{{jawan.nominalRegNo}}</td>
                        <td>{{jawan.serialCode}}</td>
                    </tr>
                    </tbody>
                </table> -->
                <!-- <pagination-controls id="list" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls> -->
          
                   
                
            </div>
        </div>
 
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
            <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

