<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
             
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/img/logo1.png" class="logo">
                    </div>
                    <div class="col-md-6">
                        <img [src]="data.Employee.EmpPic" class="border border-success" height="150" width="150" style="float:right">
                    </div>
                </div>
        
              
                <div class="row">
                    <div class="col-md-12">
                    <h3>Yuva Kalyan & Prantiya Rakshak Dal</h3>
                    </div>
                   
                </div>
                <div class="row" class="logodiv">
                    <h4>एप्लीकेशन नं0 :{{data.Employee.regNo}} </h4>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                   <div class="card card-default">
                       <div class="card-header"><h4>Basic & Contact Details</h4></div>
                       <div class="card-body">
                           <div class="col-md-12">
                            <table class="table table-responsive table-striped">
                                <tbody>
                                    <tr>
 <td>सर्विस नं0: </td><td>{{data.Employee.empOfficialId}}</td>
 <td>सर्विस कोड: </td><td>{{data.Employee.serialCode}}</td>

 
                                    </tr>
                                    <tr>
                                        <td>स्वयंसेवक का नाम: </td><td>{{data.Employee.empName}}</td><td>पिता का नाम: </td><td>{{data.Employee.fatherName}}</td>
                                    </tr>
                                    <tr>
                                        <td>माता का नाम: </td><td>{{data.Employee.motherName}}</td><td>जन्मतिथि: </td><td>{{data.Employee.empDob}}</td>
                                    </tr>
                                    <tr>
                                        <td>लिंग: </td><td>{{data.Employee.empGender}}</td><td>श्रेणी: </td><td>{{data.Employee.empCaste}}</td>
                                    </tr>
                                    <tr>
                                        <td>लम्बाई: </td><td>{{data.Employee.height}}</td><td>सीना: </td><td>{{data.Employee.chest}}</td>
                                    </tr>
                                    <tr>
                                        <td>शिक्षा: </td><td>{{data.Employee.empEdu}}</td><td>विशेष योग्यता: </td><td>{{data.Employee.empSplSkill}}</td>
                                    </tr>
                                    <tr>
                                        <td>पोस्ट: </td><td>{{data.Employee.desgnName}}</td><td>आधार नं0: </td><td>{{data.Employee.aadharNo}}</td>
                                    </tr>
                                    <tr>
                                        <td>पैन नं0: </td><td>{{data.Employee.panNo}}</td><td>कंपनी का नाम: </td><td>{{data.EmployeeContact.currentCompName}}</td>
                                    </tr>
                                    <tr>
                                        <td>वर्त्तमान पता: </td><td>{{data.EmployeeContact.currentAddress}},&nbsp;{{data.EmployeeContact.currentDistName}},&nbsp;<span *ngIf="data.EmployeeContact.currentBlockName!=null">{{data.EmployeeContact.currentBlockName}},</span>&nbsp;{{data.EmployeeContact.currentThanaName}}-&nbsp;{{data.EmployeeContact.currentPincode}}</td><td>स्थायी पता: </td><td>{{data.EmployeeContact.residanceAddress}},&nbsp;{{data.EmployeeContact.residanceDistName}},&nbsp;<span *ngIf="data.EmployeeContact.residanceBlockName!=null">{{data.EmployeeContact.residanceBlockName}},</span>&nbsp;{{data.EmployeeContact.residanceThanaName}}-&nbsp;{{data.EmployeeContact.residancePincode}}</td>
                                    </tr>
                                    <tr>
                                        <td>मोबाइल: </td><td>{{data.EmployeeContact.currentMobile1}},&nbsp;<span *ngIf="data.EmployeeContact.residanceMobile1!=null">{{data.EmployeeContact.residanceMobile1}}</span></td><td>ईमेल:</td><td>{{data.EmployeeContact.currentEmpEmail}},&nbsp;<span *ngIf="data.EmployeeContact.residanceEmpEmail!=null">{{data.EmployeeContact.residanceEmpEmail}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>नॉमिनल रोल रजिस्टर की क्रम संख्या: </td><td>{{data.Employee.nominalRegNo}}</td> <td>पुराना सर्विस नं0:: </td><td>{{data.Employee.oldServiceNo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                           </div>
                          
                       </div>
                   </div>
                   <br/>
                   <div class="card card-default">
                    <div class="card-header"><h4>Account Details</h4></div>
                    <div class="card-body">
                        <div class="col-md-12">
                         <table class="table table-responsive table-striped">
                             <tbody>
                                 <tr>
<td>खाता संख्या: </td><td>{{data.EmployeeAccount.accNo}}</td>
<td>शाखा: </td><td>{{data.EmployeeAccount.branch}}</td>


                                 </tr>
                                 <tr>
                                     <td>खाताधारक का नाम: </td><td>{{data.EmployeeAccount.accName}}</td><td>IFSC: </td><td>{{data.EmployeeAccount.ifsc}}</td>
                                 </tr>
                                 <tr>
                                     <td>बैंक का नाम: </td><td>{{data.EmployeeAccount.bank}}</td>
                                 </tr>
                              
                              
                             </tbody>
                         </table>
                        </div>
                       
                    </div>
                </div>
                <br/>
                <div class="card card-default">
                    <div class="card-header"><h4>Training Details</h4></div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>क्रम संख्या </th>
                                        <th>पी आर डी प्रारंभिक शिक्षा का वर्ष </th>
                                        <th>दिनांक से</th>
                                        <th>दिनांक तक</th>
                                        <th>कंपनी का नाम</th>
                                      
                                       
                                    </tr>
                                 </thead>
                                    <tbody>
                                        <tr *ngFor="let training of data.EmpTraining;let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{training.trainingSession}}</td>
                                            <td>{{training.dateFrom}}</td>
                                            <td>{{training.dateTo}}</td>
                                            <td>{{training.compId}}</td>
                                         
                                        </tr>
                                    </tbody>
                            
                            </table>
                        </div>
                       
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>