

<div class="content-wrapper" style="min-height: 242px; padding-bottom: 30px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
  
          </div><!-- /.col -->
    
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3>Wage Calculation</h3>
            </div>
        
            <div class="card-body">
                      
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="CurrentZoneId">मण्डल :</label>
                            <select class="form-control" id="CurrentZoneId" name="CurrentZoneId" #CurrentZoneIdControl="ngModel" [(ngModel)]="empcontact.CurrentZoneId" required (change)="getdistrict(empcontact.CurrentZoneId,'')" disabled>
                                <option value="--Select--">--Select--</option>
                                <option [value]="zone.zoneId" *ngFor="let zone of currentZonelist">{{zone.zoneName}}</option>
                            </select>
       
                            </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="CurrentDistId">जिला :</label>
                            <select class="form-control" id="CurrentDistId" name="CurrentDistId" #CurrentDistIdControl="ngModel" [(ngModel)]="empcontact.CurrentDistId" (click)="getCompany(empcontact.CurrentDistId,'')" disabled>
                                <option value="--Select--">--Select--</option>
                                <option [value]="district.distId" *ngFor="let district of currentdistlist">{{district.distName}}</option>
                            </select>
    
                        </div>
                    </div>
                
      
                    </div>
                    <!-- <div class="row">
                     <div class="col-md-4">
                            <label></label>
                            <div class="form-group clearfix mt-2  ">
                               
                                 <div class="icheck-primary d-inline">
                                    <input type="radio" [(ngModel)]="empcontact.residanceTypeCurrent" value="Urban" id="rbnCity" (click)="ClickUrbanRuralCurrent()">
                                 <label for="rbnCity" >
                                       शहरी
                                   </label>
                                 </div>
                                 
                                 <div class="icheck-primary d-inline ml-2">
                                    <input type="radio" [(ngModel)]="empcontact.residanceTypeCurrent" value="Rural" id="rbnVillage" (click)="getBlock(empcontact.CurrentDistId)">
                                  
                                   <label for="rbnVillage">
                                       ग्रामीण
                                   </label>
                                 </div>
                                
                               </div>

 
                    </div>
            
                        <div class="col-md-4"  *ngIf="empcontact.residanceTypeCurrent=='Rural'">
                            <div class="form-group" >
                                    
                                <label class="control-label" for="CurrentBlockId">ब्लॉक/विकास खंड :</label>
                                <select class="form-control" id="CurrentBlockId" name="CurrentBlockId" #CurrentBlockIdControl="ngModel" [(ngModel)]="empcontact.CurrentBlockId" (click)="getCompany(empcontact.CurrentDistId,empcontact.CurrentBlockId)">
                                    <option value="--Select--">--Select--</option>
                                    
                                    <option [value]="block.blockId" *ngFor="let block of blocklst">{{block.blockName}}</option>
                                </select>
                             
                                </div>
                        </div>
                       
                        <div class="col-md-4">
                        <div class="form-group">
        
                            <label class="control-label" for="CurrentCompanyId">कंपनी का नाम :</label>
                          
                            <select class="form-control" id="CurrentCompanyId" name="CurrentCompanyId" #CompanyIdControl="ngModel" [(ngModel)]="empcontact.CurrentCompanyId">
                                <option value="--Select--">--Select--</option>
                                <option [value]="company.compId" *ngFor="let company of companylst">{{company.compName}}</option>
                                
                            </select>
                            </div>
                        </div>
                  
                    </div> -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
            
                                <label class="control-label" for="CurrentThanaId">थाना :</label>
                              
                                <select class="form-control" id="CurrentThanaId" name="CurrentThanaId" #CurrentThanaIdControl="ngModel" [(ngModel)]="empcontact.CurrentThanaId" (change)="GetSites()">
                                    <option value="--Select--">--Select--</option>
                                    <option [value]="thana.thanaId" *ngFor="let thana of thanalist">{{thana.thanaName}}</option>
                                    
                                </select>
                                </div>
                            </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="SiteIdControl.pristine && SiteIdControl.touched" [class.has-success]="SiteIdControl.dirty">
                              <label class="control-label" for="SiteId">तैनाती स्थल :</label>
                        
                              <select class="form-control" id="SiteId" name="SiteId" #SiteIdControl="ngModel" [(ngModel)]="site.SiteId" required>
                                  <option value="-1">--Select--</option>
                                  <option [value]="site.siteId" *ngFor="let site of siteList">{{site.siteName}}</option>
                                  
                              </select>
                              <span class="help-block" *ngIf="SiteIdControl.pristine && SiteIdControl.touched">कृपया तैनाती स्थल चुनें</span>
                            </div>
                        </div>
              
                 
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group" [class.has-error]="DateFromControl.invalid && DateFromControl.touched" [class.has-success]="DateFromControl.valid">
                                    
                                    <label class="control-label" for="DateFrom">दिनांक से :</label>
                                    <input type="text" class="form-control" id="DateFrom" name="DateFrom" #DateFromControl="ngModel" [(ngModel)]="DateFrom" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" placeholder="dd/MM/yyyy" required autocomplete="off">
                                    <span class="help-block" *ngIf="DateFromControl.invalid && DateFromControl.touched">कृपया दिनांक भरिये</span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group" [class.has-error]="DateToControl.invalid && DateToControl.touched" [class.has-success]="DateToControl.valid">
                                    
                                    <label class="control-label" for="DateTo">दिनांक तक :</label>
                                    <input type="text" class="form-control" id="DateTo" name="DateTo" #DateToControl="ngModel" [(ngModel)]="DateTo" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" placeholder="dd/MM/yyyy" required autocomplete="off">
                                    <span class="help-block" *ngIf="DateToControl.invalid && DateToControl.touched">कृपया दिनांक भरिये</span>
                                    </div>
                            </div>
                        </div>
                    </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [class.has-error]="YearControl.pristine && YearControl.touched" [class.has-success]="YearControl.dirty">
                      <label class="control-label" for="Month">वर्ष :</label>
                
                      <select class="form-control" id="Year" name="Year" #YearControl="ngModel" [(ngModel)]="Year.YearId" (change)="GetMonth(Year.YearId)" required>
                          <option value="-1">--Select--</option>
                          <option [value]="year.yearId" *ngFor="let year of Years">{{year.year1}}</option>
                          
                      </select>
                      <span class="help-block" *ngIf="YearControl.pristine && YearControl.touched">कृपया वर्ष चुनें</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" [class.has-error]="MonthControl.pristine && MonthControl.touched" [class.has-success]="MonthControl.dirty">
                      <label class="control-label" for="Month">माह :</label>
                
                      <select class="form-control" id="Month" name="Month" #MonthControl="ngModel" [(ngModel)]="Month.MonthId" required>
                          <option value="-1">--Select--</option>
                          <option [value]="month.monthId" *ngFor="let month of Months">{{month.month1}}</option>
                          
                      </select>
                      <span class="help-block" *ngIf="MonthControl.pristine && MonthControl.touched">कृपया माह चुनें</span>
                    </div>
                </div>
            </div>
                  <div class="row">
                  
                      <div class="col-md-3">
                          <input type="submit" value="Search" class="btn btn-success" style="border-radius:24px;width:100px;margin-top:30px" (click)="GetJawanAttendance(Year.YearId,Month.MonthId,site.SiteId,DateFrom,DateTo)" [disabled]="site.SiteId==-1||Year.YearId==-1||Month.MonthId==-1">
                      </div>
                  </div>
                  <br/>
    <div class="row" *ngIf="divJawanlst">
        <div class="col-md-12">
<div class="card card-default">
    <div class="card-header"><h5>Jawan List</h5></div>
    <div class="card-body">
        <div class="row">
          
            <div class="col-md-12">
                <table  class="table table-responsive table-bordered table-condensed" >
                    <thead>
                        <tr>
                            <th>क्रम सं0</th>
                            <th style="width:17%">सर्विस नं0</th>
                            <th style="width:17%">स्वयंसेवक का नाम</th>
                            <th style="width:17%">उपस्थिति(दिनों में)</th>
                            <th style="width:17%">मासिक ड्यूटी भत्ता </th>
                            <th style="width:17%">अतिरिक्त भत्ता</th>
                            <th style="width:17%">कुल वेतन </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let jawan of jawanForAttlst;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{jawan.serviceNo}}</td>
                    <td>{{jawan.name}}</td>
                    <td>{{jawan.workingDays}}</td>
                    <td>{{jawan.wages}}</td>
                    <td><input type="text" class="form-control" id=Allnc_{{jawan.empId}} (keyup)="GetTotalWage(jawan.empId)"></td>
                    <td><input type="text" class="form-control" id=TotalWage_{{jawan.empId}} value={{jawan.wages}} readonly></td>
                        </tr>
                    </tbody>
                            </table>
            </div>
           
        </div>
      
    </div>
</div>
        </div>
    </div>
          <footer>
              <div class="row" *ngIf="savediv">
           
                  <div class="col-md-3" style="margin-top: 37px;">
<input type="button" class="btn btn-success" value="Submit" (click)="SaveWages()">
                  </div>
            
              </div>
          </footer>
              
            </div>
       
        </div>
 
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
            <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

