@import url("../../assets/homevendor/bootstrap/css/bootstrap.min.css");
@import url("../../assets/homevendor/icofont/icofont.min.css");
@import url("../../assets/homevendor/boxicons/css/boxicons.min.css");
@import url("../../assets/homevendor/owl.carousel/assets/owl.carousel.min.css");
@import url("../../assets/homevendor/venobox/venobox.css");
@import url("../../assets/homevendor/aos/aos.css");
@import url("../../assets/homecss/style.css");


.three-btn .icon-bx {
    font-size: 36px;
    margin-right: 15px;
}

.three-btn a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    
}


.three-btn h3 {
    margin: 0 0 10px 0;
    font-size: 28px;
    color:#fff;
      font-weight: 600;
      line-height: 26px;
    font-family: "Poppins", sans-serif;
    text-shadow: 4px 3px 2px #021784;
  }
  .three-btn h3 a{ font-size:25px;}

  .bg-light-y{
      background: #d8a201;
  }