   <!-- ======= Header ======= -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
   <div class="container">
      <div class="logo">
         <!--  <h1 class="text-light"><a href="index.html">Appland</a></h1> -->
         <!-- Uncomment below if you prefer to use an image logo -->
         <a href="index.html">
            <div class="row align-items-center">
               <div class="col-md-1 pr-0">
                  <img src="assets/homeimg/logo.png" alt="" class="img-fluid">
               </div>
               <div class="col-md-9">
                  <h1>Yuva Kalyan & Prantiya Rakshak Dal Vibhag, </h1>
                  <p>Government of Uttar Pradesh</p>
               </div>
               <div class="col-md-2 text-center">
                  <img src="assets/homeimg/prd-logo.jpg" alt="" class="img-fluid rounded">
               </div>
            </div>
         </a>
      </div>
      <!--  <nav class="nav-menu d-none d-lg-block">
         <ul>
           <li class="active"><a href="#header">Home</a></li>
           <li><a href="#features">App Features</a></li>
           <li><a href="#gallery">Gallery</a></li>
           <li><a href="#pricing">Pricing</a></li>
           <li><a href="#faq">F.A.Q</a></li>
           <li><a href="#contact">Contact Us</a></li>
         
           <li class="get-started"><a href="#features">Get Started</a></li>
         </ul>
         </nav> --><!-- .nav-menu -->
   </div>
</header>
<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-lg-6 d-lg-flex flex-lg-column  align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div>
               <h3>Online Services of<span> Web Based</span> Application</h3>
               <h5>for Yuva Kalyan & Prantiya Rakshak Dal</h5>
               <img src="assets/homeimg/icon-pg.png" class="img-fluid mt-4" />
               <!--   <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
                  <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> -->
            </div>


         </div>
         <div class="col-lg-5 align-items-stretch order-1  order-lg-2" data-aos="fade-up">
            <div class="list-inline login-btn">
               <p class="d-flex active-blue  align-items-center  p-4 rounded-top">  <i class="icofont-login icon-bx"></i> <a class="py-2"  routerLink="/Login" role="tab" >   Department Login </a>  <i class="icofont-rounded-right ml-auto"></i></p>
               <p class="d-flex active-orange  align-items-center  p-4 rounded-bottom"> <i class="icofont-login icon-bx"></i> <a  class="py-2" routerLink="/SignIn" role="tab" >   Mangal Dal Login </a>  <i class="icofont-rounded-right ml-auto"></i></p>
               <p class="d-flex active-green align-items-center  p-4 rounded-bottom"><i class="icofont-mail icon-bx"></i>  <a  class="py-2" routerLink="/MangalDalRegistration" role="tab" >   Mangal Dal Registration </a>  <i class="icofont-rounded-right ml-auto"></i></p>
            </div>
          <!--   <div class="bg-dark-blue p-2 rounded  hepdesk-sec">
                       
               <div class="row align-items-center justify-content-center"> 
                  <div class="col-2 text-right">
                  
                  <i class="icofont-ui-call icon-bx h2 text-white "></i> 
                  </div>
                  <div class="col">
                     
                     <p class="mb-0"> Help Desk</p>
                     <h3 class="mb-0"><a class="text-warning phone-num"  href="tel:7007884404" role="tab" >  +91-700 7884404 </a></h3>
                     <p class="text-light mb-0"> Mon-Fri 10:00AM To 05:00PM</p>
                     </div>
                    
               </div>
              
          </div> -->
         </div>
      </div>
      <div class="row justify-content-between three-btn">
         <div class="col-md-4">
            <p class="d-flex bg-secondary shadow align-items-center h3  p-4 rounded"> 
               <i class="icofont-login icon-bx"></i> 
               <a  class="py-2" href="http://prdmpr.data-center.co.in/EventScheduled/Index" role="tab" >  Sports Competition </a>  
               <i class="icofont-rounded-right ml-auto"></i></p>
         </div>
         <div class="col-md-3">
            <p class="d-flex bg-light-y shadow align-items-center h3  p-4 rounded"> 
               <i class="icofont-login icon-bx"></i> 
               <a  class="py-2" href="http://prdmpr.data-center.co.in" role="tab" >  Online MIS </a> 
                <i class="icofont-rounded-right ml-auto"></i></p>
         </div>
         <div class="col-md-5">
            
            <div class="bg-dark-blue p-2 rounded shadow  hepdesk-sec">
                       
               <div class="row align-items-center justify-content-center"> 
                  <div class="col-3 text-right">
                  
                  <i class="icofont-ui-call icon-bx h2 text-white "></i> 
                  </div>
                  <div class="col">
                     
                     <p class="mb-0"> Help Desk</p>
                     <h3 class="mb-0"><a class="text-warning phone-num"  href="tel:7007884404" role="tab" >  +91-700 7884404 </a></h3>
                     <p class="text-light mb-0"> Mon-Fri 10:00AM To 05:00PM</p>
                     </div>
                    
               </div>
              
          </div>
         </div>
      </div>
   </div>
</section>
<!-- End Hero -->
<main id="main">
   <!-- ======= App Features Section ======= -->
   <section id="features" class="features pt-1">
      <div class="container">
         <!--   <div class="section-title">
            <h2>App Features</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div> -->
         <div class="content text-center">
            <div class="row justify-content-center">
               <div class="col-md-4 icon-box" data-aos="fade-up">
                  <img src="assets/homeimg/ico/icon1.png" class="my-2 img-fluid" />
                  <h4>PRD Registration</h4>
                  <p>PRD Registration manages Registration, Approval, Transfer & Punishment</p>
                  <a href="#" class="btn btn btn-outline-dark rounded-pill px-4">Know More</a>
               </div>
               <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <img src="assets/homeimg/ico/icon2.png" class="my-2 img-fluid" />
                  <h4>PRD Duty Management</h4>
                  <p>PRD Duty Management manages PRD Availability, Duty Allocation & Duty Swapping</p>
                  <a href="#" class="btn btn btn-outline-dark rounded-pill px-4">Know More</a>
               </div>
               <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <img src="assets/homeimg/ico/icon3.png" class="my-2 img-fluid" />
                  <h4>MPR / DPR</h4>
                  <p>MPR / DPR manages all the MPR/DPR & MIS of the Department</p>
                  <a href="#" class="btn btn btn-outline-dark rounded-pill px-4">Know More</a>
               </div>
               <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <img src="assets/homeimg/ico/icon4.png" class="my-2 img-fluid" />
                  <h4>PRD Payments</h4>
                  <p>PRD Payments manages PRD Attendance, Wages Calculation & Wages Settlement</p>
                  <a href="#" class="btn btn btn-outline-dark rounded-pill px-4">Know More</a>
               </div>
               <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <img src="assets/homeimg/ico/icon5.png" class="my-2 img-fluid" />
                  <h4>Yuva Kalyan</h4>
                  <p>Yuva Kalyan manages Mangal Dal registration, Approval, Certification & Events Activities</p>
                  <a href="#" class="btn btn btn-outline-dark rounded-pill px-4">Know More</a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End App Features Section -->
</main>
<!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">

  

           
   <div class="container py-4">
      <div class="copyright">  
         Copyright &copy; <strong><span>2020-21 Yuva Kalyan </span></strong>  & Prantiya Rakshak Dal Vibhag GoUP
      </div>
      <div class="credits">
         Powered by <a href="https://www.margsoft.com/" target="_blank"> MARGSOFT Technologies (P) Ltd.</a>
  
      </div>
   </div>
  
</footer>
<!-- End Footer -->
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>